@import './../../assets/common/templates'
@import './../../assets/common/vars'

.contentBox
      @include flex-box(row, space-between, flex-start, 5rem)
      @media screen and (max-width: 900px)
            @include flex-box(column, center, center, 3rem)
      @extend %padding

.usersList
      @include flex-box(column, center, center, 2rem)
      min-width: 60%
      margin-right: 2.5rem
      @media screen and (max-width: 900px)
            margin: 0 auto