@import './../../assets/common/vars'

.navBox, .linkWrapper, .navLink
      width: 100%

.navBox
      position: absolute
      display: flex
      @media screen and (max-width: 300px)
            flex-direction: column
.linkWrapper
      flex: 1 1 auto
      display: flex
      align-items: center
      background-color: $turquoise
      font-family: "Roboto Slab"
      text-transform: uppercase
   
.navLink
      display: block
      height: 100%
      text-decoration: none
      text-align: center
      padding: 1rem
      background-color: inherit
      color: white

.activeNavLink
      background-color: $bright-turquoise
